doctype html
html(lang='en')
  //подключение header
  include includes/head 

  body
    .wrapper
      .navigation
        nav.navbar.navbar-default
          .container
            // Brand and toggle get grouped for better mobile display
            p.nav-description Национальный реестр интегрированных отчетов
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                img(src='/img/da-strateg-logo.png', alt='logo1')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/main') На главную
                li.active
                  a(href='/search') Поиск
                li
                  a(href='/stats') Интерактивная статистика
                li
                  a(href='/register-report') Регистрация отчета
                li
                  a(href='register-company') Регистрация компании
            // /.navbar-collapse
          // /.container-fluid
      // /container navigation

      main.container
        .row
          .col-md-10.col-md-offset-2.col-xs-12.col-sm-12.profile-company
            h2 #{company.name}
            .row
              .col-md-2.col-xs-12.col-sm-6.company-logo
                img(src='#{company.logo}', alt='logo')
              .col-md-10.col-xs-12.col-sm-12.company-info
                table.table.table-hover
                  tbody
                    tr
                      td  Сокращенное название
                      td  #{company.short_name}
                    tr
                      td  Организационно-правовая форма
                      td  #{company.opf}
                    tr
                      td  Описание компании
                      td
                        | #{company.info}
            // /row
            .row
              .col-md-6.col-xs-12.col-sm-6
                table.table.table-hover
                  tbody
                    tr
                      td  Отрасль экономики
                      td  #{company.sector}
                    tr
                      td  Расположение головного офиса
                      td  #{company.city}
                    tr
                      td  Размер организации 
                      td
                        | #{company.short_name}
                        | #{company.employees}
                        | #{company.revenue}
                    tr
                      td  Листинг (биржа)
                      td  #{company.listing}
                    tr
                      td  Форма собственности
                      td  #{company.type_of_ownership}
              .col-md-6.col-xs-12.col-sm-6
                table.table.table-hover
                  tbody
                    tr
                      td  Ф.И.О. директора организации
                      td  #{company.CEO}
                    tr
                      td  Адрес головного офиса
                      td  #{company.adress}
                    tr
                      td  Телефон приемной
                      td  #{company.telephone}
                    tr
                      td  Факс приемной
                      td  #{company.fax}
                    tr
                      td  Электронный адрес 
                      td  #{company.email}
                    tr
                      td  Сайт
                      td
                        a(href='#{company.link}', target='_blank') #{company.link}
            - var page_reports = reports 
            .row
              h3 Список отчетов организации
              .col-md-10.col-md-offset-2.col-xs-12.col-sm-6.other-reports
                for report in page_reports
                  .cover
                    a(href='/report/#{report._id}', target='_blank', title='Годовой отчет 2013')
                      img(src=report.preview, alt='')
              // /other-reports
            // /row
          // /profile-report
        // /row
      .space
      .space
        
      //подключение footer
      include includes/footer

      // Slider
      script(src='/js/slides.min.jquery.js')
      script(src='/js/elements.js')
