doctype html
html(lang='en')
  //подключение header
  include includes/head 
  body
    .wrapper
      .navigation
        nav.navbar.navbar-default
          .container
            // Brand and toggle get grouped for better mobile display
            p.nav-description Национальный реестр интегрированных отчетов
            // <h5>Краткое пояснение, что это</h5>
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='http://da-strateg.ru/')
                img(src='/img/da-strateg-logo.png', alt='logo1')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/main') На главную
                li
                  a(href='/search') Поиск
                li
                  a(href='/stats') Интерактивная статистика
                li
                  a(href='/register-report') Регистрация отчета
                li
                  a(href='/register-company') Регистрация компании
            // /.navbar-collapse
          // /.container-fluid
      // /container navigation
      .container.mainpage
        main.container
          .row.mainpage-slider.col-md-12.col-xs-12.col-sm-12
            // слайдер
            #myCarousel.carousel.slide
              .carousel-inner
                .item.active
                  .col-md-11.col-md-offset-1.col-xs-12.col-sm-12(data-toggle='tooltip', data-placement='top', data-html='true')
                    - var i = 0;
                    - for (i = 0; (i<7) && (i<=(new_reports.length-1)); i++)
                      a(href='/report/#{new_reports[i]._id}', target='_blank', title='#{new_reports[i].name}')
                        img(src='#{new_reports[i].preview}', alt='')
                // /Slide1
                if new_reports.length>7
                  .item
                    .col-md-11.col-md-offset-1.col-xs-12.col-sm-12(data-toggle='tooltip', data-placement='top', data-html='true')
                      - var i = 7;
                      - for (i = 7; (i<14) && (i<=(new_reports.length-1)); i++)
                        a(href='/report/#{new_reports[i]._id}', target='_blank', title='#{new_reports[i].name}')
                          img(src='#{new_reports[i].preview}', alt='')
                // /Slide2
              // /.carousel-inner
              .control-box
                a.carousel-control.left(data-slide='prev', href='#myCarousel')
                a.carousel-control.right(data-slide='next', href='#myCarousel')
              // /.control-box
            // /#myCarousel
          // /mainpage-slider
          .space.col-md-12.col-xs-12.col-sm-12
          .row.description-and-news
            .col-md-7.col-xs-12.col-sm-12.mainpage-description
              p 
                span &nbsp&nbsp&nbsp&nbsp&nbspНациональный реестр интегрированных отчетов 
                | является базой данных и включает в себя все интегрированные отчеты российских компаний (выпущенные с 2009 года), а также возможности поиска интегрированных отчетов по различным фильтрам и составления интерактивной статистики. Пользователи имеют возможность самостоятельно загружать данные об отчетах и компаниях. 
                br
                | &nbsp&nbsp&nbspФункциональные возможности 
                span Национального реестра 
                | предназначены российским компаниям, а также консультантам в области корпоративной отчетности, аналитикам, инвесторам и другим заинтересованным сторонам компаний.<br/>
              .space  
              center
                  button.btn.btn-default.btn-lg.green-btn(type='button', title='Перейти на страницу поиска')
                    a(href='/search', target='_blank', title='Перейти на страницу поиска')
                      span.glyphicon.glyphicon-search
                      span.uppercase  Поиск
                      br
                      |  Перейти на страницу поиска  
              .space        

            .col-md-4.col-xs-12.col-sm-12.mainpage-news
              .news-caption.uppercase
                | Новости
              .news
                for nw in news
                  .new
                    h3 #{nw.header}
                    - var test = nw.date.toLocaleString("ru", options);
                    p #{test}
                    a.underline(href='#{nw.link}', target='_blank', title='') Читать далее >>> 
                    hr
            // /.mainpage-news
          // / row stat & news
          .col-md-12.col-xs-12.col-sm-12.partners
            h2 Проект подготовлен в сотрудничестве с
            .logo
              a(href='http://da-strateg.ru/', target='_blank', title='Перейти на сайт компании')
                img(src='img/da-strateg-logo.png', alt='logo1')
            .logo
              a(href='http://ir.org.ru/', target='_blank', title='Перейти на сайт компании')
                img(src=' img/rrc-logo.png', alt='logo2')

          // /.partners
      // /mainpage

      //подключение footer
      include includes/footer