//doctype html
//html(lang='en')
  //body
    //form(method='post', action='/report/create', enctype="multipart/form-data")
      //input(type="file", multiple, name="upload")
      //input(type='submit', value='Submit')
doctype html
html(lang='en')
    //подключение header
    include includes/head 
   body
    .wrapper
      .navigation
        nav.navbar.navbar-default
          .container
            // Brand and toggle get grouped for better mobile display
            p.nav-description Национальный реестр интегрированных отчетов
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='http://da-strateg.ru/')
                img(src='/img/da-strateg-logo.png', alt='logo1')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/main') На главную
                li
                  a(href='/search') Поиск
                li
                  a(href='/stats') Интерактивная статистика
                li.active
                  a(href='/register-report') Регистрация отчета
                li
                  a(href='/register-company') Регистрация компании
            // /.navbar-collapse
          // /.container-fluid
      // /container navigation
      main.container
        .row
          h1.uppercase.center Регистрация отчета
          .col-md-11.col-md-offset-1.col-xs-12.col-sm-12.profile-company
            br
            .row.register-report
              form(method='post', action='/report/create', enctype="multipart/form-data")
                .col-md-12.col-xs-12.col-sm-12
                  #messenger-report
                  .col-md-6.col-xs-11.col-sm-5.register-left
                    div
                      | Название отчета 
                      span.red  *
                      input.change-w-number(name='report_name', type='text')
                      br
                    div
                      select(name='report_year')
                        for val in year
                          option(value='#{val}') #{val}     
                    div
                      select(name='company')
                        option(value='Компания') Компания
                        for val in companies
                          if val.accept == '1'
                            option(value='#{val.name}') #{val.name}
                    div
                      p.right Наличие стандартов 
                        br
                        for val in standarts
                          input(type='checkbox', name='#{val}', value='#{val}')
                          |  #{val}  
                          br 
                    div
                      | Количество страниц 
                      span.red  *
                      input.change-w-number(name='pages', type='number')
                      br                
                    div
                      | Наличие в отчете бизнес-модели 
                      label.radio-inline
                        input#radio1(name='BusinessModel', value='1', type='radio')
                        |  Да
                      label.radio-inline
                        input#radio2(name='BusinessModel', value='0', checked='', type='radio')
                        |  Нет
                      br
                    div
                      | Наличие в отчете информации о стратегии 
                      label.radio-inline
                        input#radio1(name='Strategy', value='1', type='radio')
                        |  Да
                      label.radio-inline
                        input#radio2(name='Strategy', value='0', checked='', type='radio')
                        |  Нет
                      br
                    div
                      | Наличие в отчете информации о рисках 
                      label.radio-inline
                        input#radio1(name='RiskMap', value='1', type='radio')
                        |  Да
                      label.radio-inline
                        input#radio2(name='RiskMap', value='0', checked='', type='radio')
                        |  Нет
                      br
                    div
                      | Наличие Общественного заверения отчета 
                      label.radio-inline
                        input#radio1(name='Assurance', value='1', type='radio')
                        |  Да
                      label.radio-inline
                        input#radio2(name='Assurance', value='0', checked='', type='radio')
                        |  Нет
                      br
                    div
                      | Участие Панели заинтересованных сторон в создании отчета 
                      label.radio-inline
                        input#radio1(name='Stakes', value='1', type='radio')
                        |  Да
                      label.radio-inline
                        input#radio2(name='Stakes', value='0', checked='', type='radio')
                        |  Нет
                      br
                  // /register-report-left
                  .col-md-5.col-xs-12.col-sm-6.register-right
                    div
                      | Ссылка на HTML версию отчета 
                      input.change-w-number(name='interactive', type='text', placeholder='http://')
                      br
                    div
                      | Финансовый аудитор отчета 
                      input.change-w(name='fin_auditor', placeholder='Юридическое название аудитора')
                      br
                    div
                      | Аудитор нефинансовой информации отчета 
                      input.change-w(name='auditor', placeholder='Юридическое название аудитора')
                      br
                    div
                      | Консультант подготовки отчета 
                      input.change-w(name='consultant', placeholder='Консультант подготовки отчета')
                      br
                    div
                      | Менеджер процесса подготовки отчета 
                      input.change-w(name='manager', placeholder='Фамилия и имя менеджера')
                      br
                    div
                      | Дизайнер отчета 
                      input.change-w(name='designer', placeholder='Фамилия и имя дизайнера')
                      br
                    div
                      | Победы в национальных конкурсах отчетности 
                      input.change-w(name='wins', placeholder='Конкурсы и занятые места')
                      br

                    div
                      h3 Контактная информация
                      strong Пользователь, регистрирующий отчет
                      div
                        | ФИО 
                        span.red  *
                        input.change-w(type='text', name='registrator_fio')
                        br
                      div
                        | Должность 
                        span.red  *
                        input.change-w(type='text', name='registrator_position')
                        br
                      div
                        | Электронная почта 
                        span.red  *
                        input.change-w(type='text', name='registrator_email')
                        br
                      div
                        | Телефон 
                        span.red  *
                        input.change-w(type='text', name='registrator_phone')
                        br    
                  // /register-report-right
                .buttons.center.upload
                  div
                    label.btn.btn-default.green-btn(for='upload-cover')
                      i.fa.fa-file-image-o(aria-hidden='true')
                      |  Загрузить обложку отчета (в формате JPG или PNG)
                    input#upload-cover(type="file", name="upload")
                  div
                    label.btn.btn-default.green-btn(for='upload-report')
                      i.fa.fa-file-pdf-o(aria-hidden='true')
                      |  Загрузить отчет RU (в формате PDF)
                    input#upload-report(type='file', name='ru_PDF')
                  div
                    label.btn.btn-default.green-btn(for='upload-report')
                      i.fa.fa-file-pdf-o(aria-hidden='true')
                      |  Загрузить отчет EN (в формате PDF)
                    input#upload-report(type='file', name='en_PDF')
                .buttons.center.submit
                    div
                      label.btn.btn-default.green-btn(for='submit-reg-company') Отправить
                      input#submit-reg-company(type='submit', value='Submit')
                br
                span(style='font-size:12pt')
                  | Если у вас остались вопросы или пожелания, свяжитесь с администратором сайта по адресу 
                span(style='font-size:12pt')
                  a(href='mailto:lasarenko91@mail.ru')
                    | lasarenko91@mail.ru
                br
                br
      //подключение footer
      include includes/footer