doctype html
html(lang='en')
  
  //подключение header
  include includes/head 
- var companies = company
body
    .wrapper
      .navigation
        nav.navbar.navbar-default
          .container
            // Brand and toggle get grouped for better mobile display
            p.nav-description Национальный реестр интегрированных отчетов
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              //- a.navbar-brand(href='#')
              //-   img(src='/img/da-strateg-logo.png', alt='logo1')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/main') На главную
                li.active
                  a(href='/search') Поиск
                li
                  a(href='/stats') Интерактивная статистика
                li
                  a(href='/register-report') Регистрация отчета
                li
                  a(href='/register-company') Регистрация компании
            // /.navbar-collapseName
          // /.container-fluid
      // /container navigation
      main.container
        .row
          .search-panel.col-md-5.col-xs-12.col-sm-12
            // Навигация
            ul.nav.nav-tabs(role='tablist')
              li
                a(href='/search') Поиск отчета
              li.active
                a(href='#search-organization', aria-controls='search-organization', role='tab', data-toggle='tab') Поиск организации
            // Содержимое вкладок
            .tab-content
              #search-organization.tab-pane.active(role='tabpanel')
                div.navbar-form.navbar-left(role='search' method='post')
                  .form-group
                    input.form-control#search-input(type='text', placeholder='Search')
                  br
                  select(name='economy', id='economy')
                    for sec in sector
                      option(value='#{sec}') #{sec}
                  br
                  select(name='city', id='city')
                    for val in city
                      option(value='#{val}') #{val}
                  br
                  select(name='company_size', id='company_size')
                    for comp in size_of_company
                      option(value='#{comp}') #{comp}
                  br
                  button.btn.btn-default.green-btn(type='button' onclick='sortDefault()')
                    i.fa.fa-search(aria-hidden='true')
                    |  Поиск компании
                  //br
                  button.btn.btn-default.green-btn(onclick='clear_params()')
                    i.fa.fa-times(aria-hidden='true')
                    |  Очистить
                  br
                  br
              // /search-organization
            // /tab-content
          // /search-panel
          // Результаты поиска по организации
          .search-results-organization.col-md-7.col-xs-8.col-sm-8
            h3 Результаты поиска по организации
            .sort
              strong Сортировка:
              .var-sort
                span(rel='name')
                  a(href='#' onclick='sortName()') Название компании
                span(rel='economy')
                  a(href='#' onclick='sortSector()') Отрасль экономики
                span(rel='company-size')
                  a(href='#' onclick='sortSize()') Размер предприятия
            // /sort
            .change-view
              strong Вид:
              .var-view
                .view-list
                  a.o-showView1(href='#', title='Список')
                    i.fa.fa-list.fa-3x(aria-hidden='true')
                .view-table
                  a.o-showView2(href='#', title='Таблица')
                    i.fa.fa-table.fa-3x(aria-hidden='true')
                .view-icon
                  a.o-showView3(href='#', title='Средние значки')
                    i.fa.fa-picture-o.fa-2x(aria-hidden='true')
                .view-big-icon
                  a.o-showView4(href='#', title='Крупные значки')
                    i.fa.fa-picture-o.fa-3x(aria-hidden='true')
            // /change-view
            .view
              #o-view1.list
                //for comp in companies 
                  .element
                    img(src!=comp.logo, alt='logo')
                    a(href='/company/{comp.name}', title='Перейти на страницу профиля компании') {comp.name}
              #o-view2.table
                table.table
                  thead
                    tr
                      th Компания
                      th Отрасль экономики
                      th Размер предприятия
                  tbody#oo-view2
                  tr
                    td
                  //for comp in companies
                    tr
                      td
                        a(href='/company/{comp.name}', title='Перейти на страницу компании') {comp.name}
                      td {comp.sector}
                      td {comp.size_of_company}
              #o-view3.icon
                //for comp in companies
                  .element
                    a(href='/company/{comp.name}', title='Перейти на страницу компании')
                      img(src!=comp.logo, alt='icon')
              #o-view4.big-icon
            .sort
              .div
                span(rel='')
                  | Компаний на странице:&nbsp;
                a#amount10(href='#') 10&nbsp;&nbsp;
                a#amount20(href='#') 20&nbsp;&nbsp;
                a#amount50(href='#') 50&nbsp;&nbsp;
                #pagination.p
      .space
      .space

      script.
        $("#amount10").click( function () {
          setAmount(10);
        } );
        $("#amount20").click( function () {
          setAmount(20);
        } );
        $("#amount50").click( function () {
          setAmount(50);
        } );

      //подключение footer
      script(src='/js/frotnCompanySearch.js')
      include includes/footer