doctype html
html(lang='en')
  
  //подключение header
  include includes/head 
- var companies = company
body
    .wrapper
      .navigation
        nav.navbar.navbar-default
          .container
            // Brand and toggle get grouped for better mobile display
            p.nav-description Национальный реестр интегрированных отчетов
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

              //- a.navbar-brand(href='#')
              //-   img(src='img/da-strateg-logo.png', alt='logo1')

            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/main') На главную
                li.active
                  a(href='/search') Поиск
                li
                  a(href='/stats') Интерактивная статистика
                li
                  a(href='/register-report') Регистрация отчета
                li
                  a(href='/register-company') Регистрация компании
            // /.navbar-collapse
          // /.container-fluid
      // /container navigation
      main.container
        .row
          .search-panel.col-md-5.col-xs-12.col-sm-12
            // Навигация
            ul.nav.nav-tabs(role='tablist')
              li.active
                a(href='#search-report', aria-controls='search-report', role='tab', data-toggle='tab') Поиск отчета
              li
                a(href='/search-company') Поиск организации
            // Содержимое вкладок
            .tab-content
              #search-report.tab-pane.active(role='tabpanel')
                div.navbar-form.navbar-left(role='search')
                  .form-group
                    input.form-control#search-input(type='text', placeholder='Search')
                  button.btn.btn-default.green-btn(type='button' onclick='sortDefault()')
                    i.fa.fa-search(aria-hidden='true')
                    |  Поиск отчета
                  br
                  select(name='report_year' id='report_year')
                    for val in year
                      option(value='#{val}') #{val}
                  select(name='economy', id='economy')
                    for val in sector
                      option(value='#{val}') #{val}
                  br
                  select(name='city', id='city')
                    for val in city
                      option(value='#{val}') #{val}
                  br
                  select(name='company_size', id='company_size')
                    for val in size_of_company
                      option(value='#{val}') #{val}
                  br
                  select(name='organization_form', id='organization_form')
                    for val in opf
                      option(value='#{val}') #{val}
                  br
                  select(name='ownership', id='ownership')
                    for val in type_of_ownership
                      option(value='#{val}') #{val}
                  //- .space 

                  dl.dropdown1
                    dt.simple-border
                      a(href='#', title='Нажмите для отображения стандартов')
                        .hida1 Наличие стандартов 
                          p &#9660;
                        p.multiSel1
                    dd
                      .mutliSelect1
                        ul
                          li
                            for val in standarts
                              input(type='checkbox', value='#{val}', id='#{val}')
                              |   #{val}
                              br             

                  br
                  br
                  br
                  br
                  br
                  br


                  dl.dropdown2
                    dt.simple-border
                      a(href='#', title='Нажмите для отображения списка лучших практик')
                        .hida2 Лучшая практика 
                          p &#9660;
                        p.multiSel2
                    dd
                      .mutliSelect2
                        ul
                          li
                            for val in best
                              input(type='checkbox', value='#{val}', id='#{val}')
                              |   #{val}
                              br              
                  br
                  br
                  br
                  br
                  br
                  //- br                  
                  //- br
                  //- br

                  button.btn.btn-default.green-btn(type='submit' onclick='sortDefault()')
                    i.fa.fa-search(aria-hidden='true')
                    |  Поиск отчета
                  button.btn.btn-default.green-btn(type='submit' onclick='clear_params()')
                    i.fa.fa-times(aria-hidden='true')
                    |  Сброс
                  br
              // /поиск отчета #search-report

          .search-results-report.col-md-7.col-xs-8.col-sm-8
            h3 Результаты поиска по отчету
            .sort
              strong Сортировка:
              .var-sort
                span(rel='name')
                  a(href='#' onclick='sortName()') Название компании
                span(rel='report-year')
                  a(href='#' onclick='sortYear()') Отчетный год
                span(rel='economy')
                  a(href='#' onclick='sortSector()') Отрасль экономики
                span(rel='company-size')
                  a(href='#' onclick='sortSize()') Размер предприятия
            // /sort
            .change-view
              strong Вид:
              .var-view
                .view-list
                  a.showView1(href='#', title='Список')
                    i.fa.fa-list.fa-3x(aria-hidden='true')
                .view-table
                  a.showView2(href='#', title='Таблица')
                    i.fa.fa-table.fa-3x(aria-hidden='true')
                .view-icon
                  a.showView3(href='#', title='Средние значки')
                    i.fa.fa-picture-o.fa-2x(aria-hidden='true')
                .view-big-icon
                  a.showView4(href='#', title='Крупные значки')
                    i.fa.fa-picture-o.fa-3x(aria-hidden='true')
            // /change-view

            .view
              #view1.list
                //for rep in reports
                  //.element
                   // a(href='/report/{rep._id}', title='Перейти на страницу отчета') {rep.name} - {rep.year}
              #view2.table
                table.table
                  thead
                    trvar
                      th Компания
                      th Название отчета
                      th Год
                      th Стандарт
                  tbody#r-view2
                  tr
                    td
                    //for rep in reports
                      tr
                        td
                          a(href='/company/{rep.company_id}', title='Перейти на страницу компании') {rep.company}
                        td
                          a(href='/report/{rep._id}', title='Перейти на страницу отчета') {rep.name}
                        td Год
                        td Стандарт
              #view3.icon
                //for rep in reports
                  .element
                    a(href='/report/{rep._id}', title='Перейти на страницу отчета')
                      img(src='{rep.preview}', alt='icon')
              #view4.big-icon
                //for rep in reports
                  .element
                    a(href='/report/{rep._id}', title='Перейти на страницу отчета')
                      img(src='{rep.preview}', alt='icon')
            .sort
              .div
                span(rel='')
                  | Компаний на странице:&nbsp;
                a#amount10(href='#') 10&nbsp;&nbsp;
                a#amount20(href='#') 20&nbsp;&nbsp;
                a#amount50(href='#') 50&nbsp;&nbsp;
                #pagination.p
        // /row
      .space
      .space

      script.
        $("#amount10").click( function () {
          setAmount(10);
        } );
        $("#amount20").click( function () {
          setAmount(20);
        } );
        $("#amount50").click( function () {
          setAmount(50);
        } );

      //подключение footer
      script(src='/js/frontReportSearch.js')
      include includes/footer